<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wows cakes</title>
    <style>
     body{
    margin: 0;
    padding: 0;
    background-color: aqua;

    }

.root{
    position: absolute;
    top: 45%;
    left: 45%;
    text-decoration: none;
    color: white;
    padding: 10px;
    background-color: rgb(226, 94, 28);
    border-radius: 5px;
    text-shadow: 2px 2px 4px #000;
    font-weight: bold;
    font-family: sans-serif;
}
    </style>
</head>
<body>
    <a href="http://localhost/web-design-course-restaurant-master/" class="root">LET'S ORDER</a>
    
</body>
</html>